body {
    background-color: #fdf9cd;
}

.page {
    text-align: center;
    width: 50%;
    margin: 4rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 2rem;
}

h1 {
    font-size: 3rem;
}

h1, h2, a, label {
    font-family: Arial, Helvetica, sans-serif;
    color: #19456b;
}

h2 {
    font-size: larger;
    font-weight: bold;
}

a {
    color: #ff7a00;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid #11698e;
    background-color: #e7d9ea;
    border-radius: 1rem;
}


.email, .pass, .full-name, .c-password, .buttons .validationDiv {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

form {
    margin-top: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.b-reset, .b-submit {
    margin-top: 1rem;
    padding: 0.3rem 1rem;
}

